.carousel-container {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    margin-top: 1px;
    margin-bottom: 20px;
  }

  .carousel-container img {
    width: 100%;
    height: 67vh;
    object-fit: cover;
    
  }
  